body {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.441), rgba(255, 255, 255, 0.87)), url('assets/mountain.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  height: 100%;
  margin: 0;
  padding: 0;
}
