@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

#root {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
}

body {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.5),
      rgb(255, 255, 255)
    ),
    url("assets/mountain.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  margin: 0;
  padding: 0;
}
